.main--imageContainer {
    position: relative;
}

.main--memeImg {
    
}

.main--memeText {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-family: impact;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0px 2px 0 #000,
            2px 0px 0 #000,
            0px -2px 0 #000,
            -2px 0px 0 #000,
            2px 2px 5px #000;
}

.main--topText {
    position: absolute;
    top: 5px;
}

.main--bottomText {
    position: absolute;
    bottom: 5px;
}